* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body {
    color: #ee1d23;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 25px;
    color: #ee1d23;
    font-weight: 600;
}
.navbar {
    position: relative;
}
.navbar a {
    font-size: 18px;
    color: #ee1d23;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
}
.navbar a:hover, 
.navbar a.active {
    color: #140b8d;
}
.home {
    width: 100%;
    height: 100vh;
    background: url(logo.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
}
.home-content {
    max-width: 630px;
}
.home-content h1 {
    position: relative;
    font-size: 45px;
    line-height: 1.2;
}

.home-content h1:nth-child(4) {
    background: linear-gradient(#ff1010, #ffb1b1);
    -webkit-background-clip: text;
    color: transparent;
}
.home-content p {
    position: relative;
    font-size: 16px;
    margin: 25px 0 30px;
}
.home-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 345px;
}
.btn {
    padding: 10px 20px;
    background: #fddcd3;
    color: #140b8d;
    border: 2px solid #fddcd3;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.btn-box .btn:nth-child(2) {
    background: transparent;
    color: #4d4c4b;
    transition: 0.5s;
}
.btn-box .btn:nth-child(2):hover {
    background: #fddcd3;
    color: #140b8d;
}
.btn.contact-us {
    position: relative;
    border: none;
}
.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    animation: show-right 1s ease-out forwards;
    animation-delay: calc(.3s * var(--i));
}
.animate.bg {
    animation: fade-in 1s ease-out forwards;
    animation-delay: 3.2s;
}
/* KEYFRAME ANIMATION */
@keyframes show-right {
    100% {
        width: 0;
    }
}
@keyframes fade-in {
    100% {
        opacity: 0;
    }
}